
    <md-card class="signin-card">
      <md-card-title>
        Créer un compte
      </md-card-title>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <md-input-container>
            <input mdInput class="form-control" formControlName="username"  required placeholder="Votre pseudo">
          </md-input-container>
          <br/>
          <md-input-container>
            <input mdInput class="form-control" formControlName="pwd" required placeholder="Votre mot de passe">
          </md-input-container>
          <br />
          <button type="submit" md-button color="primary">Créer !</button>
        </div>
      </form>
    </md-card>
